div{
    margin-left: 100px;
    margin-top:20px;
    border: 1.5px solid green;
    padding-left: 10px;
    padding-top:10px;
    position: absolute;
    width: 300px;
}
input{
    text-align: left;
    width:200px;
}

div#cart-block-id{
    margin-left: 100px;
    margin-top:200px;
    padding-bottom: 10px;
    border: 1.5px solid green;
    padding-left: 10px;
    padding-top:10px;
    position: absolute;
    width: 300px;
}

input#qnty{
    text-align: left;
    width:50px;
}