
<div class="p1">
    <div class="p2">
        <div class="p3">
            <p id="rao">
                We have created some responsive W3.CSS templates for you to use.

                You are free to modify, save, share, and use them in all your projects.

                Free CSS Templates!
            </p>
        </div>
    </div>
    
</div>

<div class="pagination">
    <a href="#">&laquo;</a>
    <a href="#">1</a>
    <a href="#">2</a>
    <a href="#">3</a>
    <a href="#">4</a>
    <a href="#">5</a>
    <a href="#">6</a>
    <a href="#">&raquo;</a>
  </div>